/* TODO: Create classes */
.NavLink {
    margin: 0 !important;
    color: black;
    background-color: burlywood ;
    text-decoration: none !important;
    padding: 20px;
    margin-top: 0 !important;
    top: 0 !important; 
    font-size: 18px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}


.NavLink:hover {
    color: black;
    cursor: pointer;
    background-color: rgb(182, 137, 79);
}

.NavLink:active,
.NavLink.active {
    color: black;
    background-color: rgb(190, 142, 79);
}

@media (max-width: 500px) {
    .NavLink {
        color: rgb(75, 75, 75);
        margin: 0;
        display: block;
        background-color: #fff;
        width: 100%;
        border-bottom: .5px solid rgb(134, 134, 134);
    }
    .NavLink:active,
    .NavLink.active {
        color: rgb(75, 75, 75);
        background-color: rgb(243, 243, 243);
    }
}