/* TODO: Create classes */
.NavLink {
    padding: 3px;
    margin: 0;
    color: black;
    background-color: rgb(209, 164, 105);
    text-decoration: none;
}

.NavLink:hover {
    cursor: pointer;
    background-color: rgb(182, 137, 79);
}

.NavLink:active {
    background-color: rgb(184, 118, 32);
}