.NavigationItems {
    margin: 0px ;
    padding: 11px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row nowrap;
    }
}


