.NavigationItems {
    margin: 0px ;
    padding: 11px;
    list-style: none;
    display: flex;
    flex-flow: column !important;
    height: 100%;
    box-sizing: border-box;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row !important;
    }
}
